<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img src="assets/logo-ia-flash.png" class="fr-responsive-img" style="max-width:4.0625rem;" alt="logo IA Flash" />
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a routerLink="/" title="IA Flash">
                            <p class="fr-header__service-title">SivNorm</p>
                        </a>
                        <p class="fr-header__service-tagline">Match flou de la marque et modèle des véhicules dans la carte grise à partir d'un référentiel</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            <li>
                                <a class="fr-link" href="https://github.com/ia-flash/sivnorm" target="_blank"
                                  >Code</a>
                            </li>
                            <li *ngIf="gpu">
                                <a class="fr-link" href="/sivnorm/swagger" target="_blank"
                                  >Swagger</a>
                            </li>
                            <li>
                                <a class="fr-link" href="https://ia-flash.github.io/sivnorm" target="_blank" >Documentation technique</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="button-871">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
              <ul class="fr-nav__list">
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'preview'}" (click)="selectedTab = 'preview'">
                  <a class="fr-nav__link" routerLink="/testapi/matchvec" target="_self">API IA Flash</a>
                </li>
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'sivnorm'}" (click)="selectedTab = 'sivnorm'">
                  <a class="fr-nav__link"  routerLink="/testapi/sivnorm" target="_self">SivNorm</a>
                </li>
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'video'}" (click)="selectedTab = 'video'">
                  <a class="fr-nav__link" routerLink="/testapi/video" target="_self">Video</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</header>


<section class="section">
  <div class="container">
    <h3 class="title">Référentiel</h3>
    Nous utilisons un référentiel pour rapprocher le champs marque et modèle. Vous pouvez choisir le référentiel souhaité en utilisant le bouton suivant.
    <br>
    <br>



    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <a class="button"  style="border:none;">
            Faire correspondre avec la référence :
          </a>
        </div>
        <div class="level-item">
          <div class="field">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="country">
                  <option [ngClass]="{'is-active': tbRefname === 'siv'}" (click)="tbRefname='siv'" value="siv">siv</option>
                  <option [ngClass]="{'is-active': tbRefname === 'cardisiac_siv'}" (click)="tbRefname='siv_caradisiac'" value="siv_caradisiac">cardisiac+siv</option>
                  <option [ngClass]="{'is-active': tbRefname === 'cardisiac_siv'}" (click)="tbRefname='caradisiac'" value="caradisiac">cardisiac</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <h2 class="title">
      Match unitaire
    </h2>
    <nav class="level">
      <div class="level-item">
        <div class="field">
          <label class="label"> Marque</label>
          <div class="control">
            <input class="input" placeholder="marque" [value]="marque" (input)="marque = $event.target.value">
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class="field">
          <label class="label"> Modele</label>
          <div class="control">
            <input class="input" placeholder="modele" [value]="modele" (input)="modele = $event.target.value">
          </div>
        </div>
      </div>
      <div class="level-item has-text-centered" *ngIf="clean_marque">
        <div>
          <p class="heading">Marque SIV</p>
          <p class="title">{{ clean_marque }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered" *ngIf="clean_modele">
        <div>
          <p class="heading">Modele SIV</p>
          <p class="title">{{ clean_modele }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered" *ngIf="score">
        <div>
          <p class="heading">Score</p>
          <p class="title">{{ score }}</p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <button class="button is-primary" (click)="onClickMe()" [class.is-loading]="loading">Nettoyer marque et modèle</button>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title">
      Match par lot
    </h2>
    <p>
      On peut prendre en charge aussi de fichiers csv avec deux colonnes: marque et modèle
    </p>
    <br>
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="field file has-name">
            <label class="file-label">
              <input (change)="onFileSelected($event)" class="file-input" type="file" name="file" id="file">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name" id="filename">{{ currentInput }}</span>
            </label>
          </div>
        </div>
      </div>
      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <button class="button is-primary" (click)="clickCsv()" [class.is-loading]="loading">Nettoyer csv</button>
        </div>
      </div>
    </nav>
    <div *ngIf="progress">
      <progress class="progress is-primary" value="{{ progress }}" max="100">{{ progress }}%</progress>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns">

    <div class="column">
    <table class="table" *ngIf="inputCsv">
      <thead>
        <tr>
          <th><abbr>Marque</abbr></th>
          <th><abbr>Modele</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of inputCsv">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="column">
    <table class="table" *ngIf="resultCsv">
      <thead>
        <tr>
          <th><abbr>Marque</abbr></th>
          <th><abbr>Modele</abbr></th>
          <th><abbr>Score</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of resultCsv">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
   </div>

  </div>
  </div>

</section>

<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <a class="fr-logo" routerLink="/" title="république française">
                  <span class="fr-logo__title">république
                    <br>française</span>
                </a>
            </div>
            <div class="fr-footer__content">
              <img src="assets/logo_administration.png" alt="logo ministere de l'intérieur, ANTAI et DNUM" alt="logo ministere de l'intérieur" width="300px" height="150px">
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"  routerLink="/">Presentation IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/matchvec">API IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/sivnorm">API Sivnorm</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
              <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
              </p>
            </div>
        </div>
    </div>
</footer>
