<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IA Flash</title>
  <meta charset="utf-8"/>
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">IA Flash</h1>
        <h2 class="subtitle">Prediction de la marque et modèle d'un vehicule</h2>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a href="/preview">IA Flash</a></li>
            <li><a href="/sivnorm">SivNorm</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <router-outlet></router-outlet>
</body>
