<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/logo-ia-flash.png" alt="Logo IA Flash">
          </a>
          <a class="navbar-item" routerLink="testapi/matchvec">
            Tester notre API
          </a>
          <span class="navbar-burger burger" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()"  data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()">
          <div class="navbar-end">
            <a class="navbar-item" href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html" target="_blank">Découvrir le projet IA Flash</a>
            <a class="navbar-item" href="https://github.com/ia-flash" target="_blank">Code source</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">IA Flash</h1>
      <h2 class="subtitle is-size-3">Détection de la marque et du modèle de véhicules</h2>
      <a class="button is-rounded is-size-5" routerLink="testapi/matchvec">Tester notre API</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-horizontal-center is-centered has-text-centered">
      <div class="column is-6-desktop is-12-mobile">
        <h3 class="title">Découvrir notre modèle de détection</h3>
        <p>
          Nous avons conçu une brique d'intelligence artificielle pour détecter un véhicule, sa marque et son modèle dans une photo et une vidéo.
        </p>
        <br>
        <iframe appWatch class="responsive-iframe" title="Vidéo présentation IA Flash" frameborder="0" src="https://www.dailymotion.com/embed/video/x7okqx3" allowfullscreen allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Ils parlent de nous</h3>
    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="imgags">
      <ngu-tile *nguCarouselDef="let item; let i = index">
        <div class="card">
          <div class="card-content">
            <p class="is-size-5 is-italic">
              {{ item.citation }}
            </p>
            <br>
            <p class="subtitle">
              {{ item.author }}
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <figure class="image is-16x128">
                <a href="{{ item.URL }}" target="_blank">
                  <img src="{{ item.img }}" alt="{{ item.site }}">
                </a>
              </figure>
            </p>
            <p class="card-footer-item">
              <span>
                {{ item.date }}
              </span>
            </p>
          </footer>
        </div>
      </ngu-tile>
      <div class="myPoint" NguCarouselPoint>
        <span *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.is-primary]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)" class="button is-rounded is-small point-number"></span>
      </div>
    </ngu-carousel>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Auteurs</h3>

    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Victor Journé
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/victorjourne">@victorjourne</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Cristian Perez Brokate
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/cristianpb">@cristianpb</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Daniel Ansellem
                  </span>
                  <br>
                  Administrateur Ministériel des données &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-offset-4 is-4" id="contact">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="field">
            <label class="label title is-4" for="name">Nous contacter</label>
            <div class="control is-fullwidth">
              <input [(ngModel)]="myform.name" #name="ngModel" class="input" [class.is-success]="myform.name" type="text" placeholder="Nom: " name="name" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <input [(ngModel)]="myform._replyto" #name="ngModel" class="input" [class.is-success]="myform._replyto.indexOf('@') != -1" [class.is-danger]="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1" type="email" placeholder="Email: " name="_replyto" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <textarea [(ngModel)]="myform.message" #name="ngModel" class="textarea" placeholder="Message: " name="message"></textarea>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <input class="button is-primary" type="submit" [disabled]="(!heroForm.form.valid || myform._replyto.indexOf('@') === -1) || submitMessage">
            </div>
            <div class="control" *ngIf="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1">
              <p class="help is-danger">
                Mauvaise adresse mail
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='success'">
              <p class="help is-success">
                Merci
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='error'">
              <p class="help is-danger">
                Il y a eu un erreur
              </p>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <p>
          2019 - IA Flash
        </p>
      </div>
    </div>
  </div>
</footer>
