<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img src="assets/logo-ia-flash.png" class="fr-responsive-img" style="max-width:4.0625rem;" alt="logo IA Flash" />
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="IA Flash">
                            <p class="fr-header__service-title">IA Flash</p>
                        </a>
                        <p class="fr-header__service-tagline">Détection de la marque et du modèle de véhicules</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            <li>
                                <a class="fr-link fr-fi-play-line" routerLink="testapi/matchvec">Tester notre API</a>
                            </li>
                            <li>
                                <a class="fr-link" href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html" 
                                  >Découvrir le projet</a>
                            </li>
                            <li>
                                <a class="fr-link" href="https://github.com/ia-flash">Code source</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="button-871">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
            </nav>
        </div>
    </div>
</header>


<section class="section">
  <div class="container">
    <div class="columns is-horizontal-center is-centered has-text-centered">
      <div class="column is-6-desktop is-12-mobile">
        <h3 class="title">Découvrir notre modèle de détection</h3>
        <p>
          Nous avons conçu une brique d'intelligence artificielle pour détecter un véhicule, sa marque et son modèle dans une photo et une vidéo.
        </p>
        <div class="fr-content-media fr-content-media--sm">
            <div class="fr-responsive-vid">
                <iframe title="titre de l’iframe" class="fr-responsive-vid__player" src="https://www.dailymotion.com/embed/video/x7okqx3" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Ils parlent de nous</h3>
    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="imgags">
      <ngu-tile *nguCarouselDef="let item; let i = index">
        <div class="fr-card">
          <div class="fr-card__body">
            <p class="fr-card__desc">
              {{ item.citation }}
            </p>
            <span>
              <p class="fr-card__detail">{{ item.date }}</p>
              <img width="100px" height="40px" src="{{ item.img }}" alt="{{ item.site }}">
              <p class="fr-card__detail">{{ item.author }}</p>
            </span>
            <a href="{{ item.URL }}" target="_blank" class="fr-card__link"></a>
          </div>
        </div>
      </ngu-tile>
      <div class="myPoint" NguCarouselPoint>
        <span *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.is-primary]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)" class="button is-rounded is-small point-number"></span>
      </div>
    </ngu-carousel>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Auteurs</h3>

    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Victor Journé
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/victorjourne">@victorjourne</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Cristian Perez Brokate
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/cristianpb">@cristianpb</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Daniel Ansellem
                  </span>
                  <br>
                  Administrateur Ministériel des données &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-offset-4 is-4" id="contact">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="field">
            <label class="label title is-4" for="name">Nous contacter</label>
            <div class="control is-fullwidth">
              <input [(ngModel)]="myform.name" #name="ngModel" class="input" [class.is-success]="myform.name" type="text" placeholder="Nom: " name="name" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <input [(ngModel)]="myform._replyto" #name="ngModel" class="input" [class.is-success]="myform._replyto.indexOf('@') != -1" [class.is-danger]="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1" type="email" placeholder="Email: " name="_replyto" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <textarea [(ngModel)]="myform.message" #name="ngModel" class="textarea" placeholder="Message: " name="message"></textarea>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <input class="fr-btn" type="submit" [disabled]="(!heroForm.form.valid || myform._replyto.indexOf('@') === -1) || submitMessage">
            </div>
            <div class="control" *ngIf="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1">
              <p class="help is-danger">
                Mauvaise adresse mail
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='success'">
              <p class="help is-success">
                Merci
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='error'">
              <p class="help is-danger">
                Il y a eu un erreur
              </p>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>

<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <a class="fr-logo" routerLink="/" title="république française">
                  <span class="fr-logo__title">république
                    <br>française</span>
                </a>
            </div>
            <div class="fr-footer__content">
              <img src="assets/logo_administration.png" alt="logo ministere de l'intérieur, ANTAI et DNUM" alt="logo ministere de l'intérieur" width="300px" height="150px">
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"  routerLink="/">Presentation IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/matchvec">API IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/sivnorm">API Sivnorm</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                © République Française 2021
            </div>
        </div>
    </div>
</footer>
