<header class="rf-header">
  <div class="rf-container rf-container__header">
    <div class="rf-header__body">
      <div
        class="rf-header__brand"
        >
        <a
          routerLink="/"
          class="rf-logo"
          title="IA Flash"
          >
          <span class="rf-logo__title">république
            <br>française</span>
        </a>
      </div>
      <img
        src="assets/logo-ia-flash.png"
        alt="Logo IA Flash"
        height="50px"
        width="50px"
        />
      <div class="rf-header__navbar">
        <div class="rf-service">
          <span class="rf-service__title" title="matchID - moteur de recherche des personnes décédées">
            IA Flash
          </span>
          <p class="rf-service__tagline">
            Détection <strong>de la marque et du modèle</strong> de véhicules
          </p>
        </div>
      </div>
      <div class="rf-header__tools">
        <div class="rf-shortcuts" role="navigation" aria-label="Menu principal">
                    <ul class="rf-nav__list">
                        <li
                            class="rf-nav__item rf-nav__item--hoverable rf-nav__item--shadow"
                        >
                            <a
                              href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html" 
                              target="_blank"
                              class="rf-link rf-href rf-fi-db-line rf-link--icon-left"
                              aria-controls="rf-recherche"
                            >
                                Découvrir le projet
                            </a>
                        </li>
                        <li
                            class="rf-nav__item"
                        >
                            <a
                              href="https://github.com/ia-flash"
                              target="_blank"
                              class="rf-link rf-href rf-fi-db-line rf-link--icon-left"
                              aria-controls="rf-recherche"
                            >
                                Code source
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
      </div>
    </div>
</header>

<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">IA Flash</h1>
      <h2 class="subtitle is-size-3">Détection de la marque et du modèle de véhicules</h2>
      <a class="rf-btn rf-btn--lg" routerLink="testapi/matchvec">Tester notre API</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-horizontal-center is-centered has-text-centered">
      <div class="column is-6-desktop is-12-mobile">
        <h3 class="title">Découvrir notre modèle de détection</h3>
        <p>
          Nous avons conçu une brique d'intelligence artificielle pour détecter un véhicule, sa marque et son modèle dans une photo et une vidéo.
        </p>
        <br>
        <iframe appWatch class="responsive-iframe" title="Vidéo présentation IA Flash" frameborder="0" src="https://www.dailymotion.com/embed/video/x7okqx3" allowfullscreen allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Ils parlent de nous</h3>
    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="imgags">
      <ngu-tile *nguCarouselDef="let item; let i = index">
        <div class="rf-card">
          <div class="rf-card__body">
            <p class="rf-card__desc">
              {{ item.citation }}
            </p>
            <span>
              <p class="rf-card__detail">{{ item.date }}</p>
              <img width="100px" height="40px" src="{{ item.img }}" alt="{{ item.site }}">
              <p class="rf-card__detail">{{ item.author }}</p>
            </span>
            <a href="{{ item.URL }}" target="_blank" class="rf-card__link"></a>
          </div>
        </div>
      </ngu-tile>
      <div class="myPoint" NguCarouselPoint>
        <span *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.is-primary]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)" class="button is-rounded is-small point-number"></span>
      </div>
    </ngu-carousel>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title">Auteurs</h3>

    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Victor Journé
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/victorjourne">@victorjourne</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Cristian Perez Brokate
                  </span>
                  <br>
                  Data Scientist &nbsp;&nbsp;
                  <a href="https://github.com/cristianpb">@cristianpb</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p>
                  <span class="title is-4">
                    Daniel Ansellem
                  </span>
                  <br>
                  Administrateur Ministériel des données &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-offset-4 is-4" id="contact">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="field">
            <label class="label title is-4" for="name">Nous contacter</label>
            <div class="control is-fullwidth">
              <input [(ngModel)]="myform.name" #name="ngModel" class="input" [class.is-success]="myform.name" type="text" placeholder="Nom: " name="name" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <input [(ngModel)]="myform._replyto" #name="ngModel" class="input" [class.is-success]="myform._replyto.indexOf('@') != -1" [class.is-danger]="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1" type="email" placeholder="Email: " name="_replyto" required>
            </div>
          </div>

          <div class="field">
            <div class="control is-expanded">
              <textarea [(ngModel)]="myform.message" #name="ngModel" class="textarea" placeholder="Message: " name="message"></textarea>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <input class="button is-primary" type="submit" [disabled]="(!heroForm.form.valid || myform._replyto.indexOf('@') === -1) || submitMessage">
            </div>
            <div class="control" *ngIf="myform._replyto.length > 0 && myform._replyto.indexOf('@') === -1">
              <p class="help is-danger">
                Mauvaise adresse mail
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='success'">
              <p class="help is-success">
                Merci
              </p>
            </div>
            <div class="control" *ngIf="submitMessage =='error'">
              <p class="help is-danger">
                Il y a eu un erreur
              </p>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>

<footer class="rf-footer" role="contentinfo" id="footer">
    <div class="rf-container">
        <div class="rf-footer__body">
            <div class="rf-footer__brand">
                <a class="rf-logo" routerLink="/" title="république française">
                  <span class="rf-logo__title">république
                    <br>française</span>
                </a>
            </div>
            <div class="rf-footer__content">
              <img src="assets/logo_administration.png" alt="logo ministere de l'intérieur, ANTAI et DNUM" alt="logo ministere de l'intérieur" width="300px" height="150px">
            </div>
        </div>
        <div class="rf-footer__bottom">
            <ul class="rf-footer__bottom-list">
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link"  routerLink="/">Presentation IA Flash</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" routerLink="/testapi/matchvec">API IA Flash</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" routerLink="/testapi/sivnorm">API Sivnorm</a>
                </li>
            </ul>
            <div class="rf-footer__bottom-copy">
                © République Française 2021
            </div>
        </div>
    </div>
</footer>
