<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img src="assets/logo-ia-flash.png" class="fr-responsive-img" style="max-width:4.0625rem;" alt="logo IA Flash" />
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a routerLink="/" title="IA Flash">
                            <p class="fr-header__service-title">API IA Flash</p>
                        </a>
                        <p class="fr-header__service-tagline">Détection de la marque et du modèle de véhicules</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            <li>
                                <a class="fr-link" href="https://github.com/ia-flash/matchvec" target="_blank"
                                  >Code</a>
                            </li>
                            <li *ngIf="gpu">
                                <a class="fr-link" href="/matchvec/swagger" target="_blank"
                                  >Swagger</a>
                            </li>
                            <li>
                                <a class="fr-link" href="https://ia-flash.github.io/matchvec" target="_blank" >Documentation technique</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="button-871">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
              <ul class="fr-nav__list">
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'preview'}" (click)="selectedTab = 'preview'">
                  <a class="fr-nav__link" routerLink="/testapi/matchvec" target="_self">API IA Flash</a>
                </li>
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'sivnorm'}" (click)="selectedTab = 'sivnorm'">
                  <a class="fr-nav__link"  routerLink="/testapi/sivnorm" target="_self">SivNorm</a>
                </li>
                <li class="fr-nav__item" [ngClass]="{'is-active': selectedTab === 'video'}" (click)="selectedTab = 'video'">
                  <a class="fr-nav__link" routerLink="/testapi/video" target="_self">Video</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</header>


<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="field file has-name">
            <label class="file-label">
              <input (change)="onFileSelected($event.target.files)" class="file-input" type="file" name="image" id="file" accept=".jpg, .jpeg, .png" multiple>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choisir une image
                </span>
              </span>
              <span *ngIf="objectKeys(currentInput).length > 0" class="file-name" id="filename">{{ objectKeys(currentInput).length }} images</span>
            </label>
          </div>
        </div>
        <div class="level-item">
          <input (change)="onInputUrlChange()" [class.is-danger]="invalidUrl" [(ngModel)]="image_url" class="input" type="text" placeholder="URL de voiture">
        </div>
        <div class="level-item" *ngIf="invalidUrl">
          <p class="help is-danger">
            {{ invalidUrl }}
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <button (click)="drawDetection()" class="fr-btn fr-btn--secondary" [class.is-loading]="loading">Détection d'objets</button>
        </div>
        <div class="level-item">
          <button (click)="drawPrediction('brand_model_classif')" class="fr-btn" [class.is-loading]="loading">Classification Marque Modèle</button>
        </div>
        <div class="level-item">
          <button (click)="drawPrediction('prio_classif')" class="fr-btn  fr-btn--secondary" [class.is-loading]="loading">Véhicule prioritaire</button>
        </div>
        <div class="level-item" *ngIf="gpu">
          <button (click)="drawAnonymisation()" class="fr-btn fr-btn--secondary" [class.is-loading]="loading">Anonymisation</button>
        </div>
      </div>
    </nav>
    <div *ngIf="progress">
      <div class="field has-addons">
        <p class="control is-expanded">
          <progress class="progress is-primary" [attr.value]="progress < 100 ? progress : null" max="100">{{ progress }}%</progress>
        </p>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-primary">
            {{ this.progress_message }}
          </a>
        </p>
        <p class="control" *ngIf="progress < 100">
          <a class="button is-light">
            {{ this.progress }}%
          </a>
        </p>
      </div>
      <br>
    </div>
    <div *ngIf="currentInput">
      <div *ngFor="let key of objectKeys(currentInput); let img_ind = index" class="container">
        <div class="columns is-multiline">
          <div class="column">
            <canvas id="{{ 'canvas' + key }}"></canvas>
          </div>
          <div class="column is-4">
            <div>
              <p class="title is-size-5">
                {{ currentInput[key].name }}
              </p>
              <p *ngIf="currentInput[key].size" class="subtitle is-size-7">
                {{ currentInput[key].size | number : '1.2-2' }} Mb
              </p>
            </div>
            <div *ngIf="probabilities && probabilities.length > 0">
              <div *ngIf="probabilities[img_ind].length === 0" class="notification">
                Pas de prédictions.
              </div>
              <div *ngFor="let probability of probabilities[img_ind]; let predNum = index" class="upspace">
                  <table class="table is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th class="is-4">{{clasif_key}}</th>
                        <th class="is-7"></th>
                        <th class="is-1">%</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prob of probability[clasif_key].prob; let i = index"  [class.is-selected]="probability[clasif_key].prob[i] > 0.9">
                        <td>{{ probability[clasif_key].pred[i] }}</td>
                        <td>
                          <progress [ngClass]="colors[predNum]" class="progress" value="{{ probability[clasif_key].prob[i] * 100 }}" max="100"></progress>
                        </td>
                        <td>
                          {{ probability[clasif_key].prob[i] * 100 | number : '1.0-1' }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="title">Instructions</h3>
    <div class="content">
      <ol type="1">
        <li>Sélectionner une image ou plusieurs images: </li>
        <ol type="2">
          <li>Utiliser le bouton "Choisir un fichier" pour prendre des images sur l'ordinateur</li>
          <li>Utiliser la case "Url de voiture" pour écrire l'URL d'une image sur internet</li>
        </ol>
        <li>Sélectionner le bouton "Détection d'objets" pour détecter le type d'objet sur l'image</li>
        <li>Sélectionner le bouton "Classification Marque Modèle" pour détecter la marque et modèle des véhicules dans l'image</li>
        <li *ngIf="gpu">Sélectionner le bouton "Anonymisation" pour flouter les visages et le numéro de la plaque d'immatriculation de la photo</li>
      </ol>
    </div>
  </div>
</section>

<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <a class="fr-logo" routerLink="/" title="république française">
                  <span class="fr-logo__title">république
                    <br>française</span>
                </a>
            </div>
            <div class="fr-footer__content">
              <img src="assets/logo_administration.png" alt="logo ministere de l'intérieur, ANTAI et DNUM" alt="logo ministere de l'intérieur" width="300px" height="150px">
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"  routerLink="/">Presentation IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/matchvec">API IA Flash</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" routerLink="/testapi/sivnorm">API Sivnorm</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
              <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
              </p>
            </div>
        </div>
    </div>
</footer>
