canvas {
max-width: 100%;
height: auto;
}

.upspace {
    margin-bottom: 2em;
}


$widthAmounts: (1, 2.5, 3, 4 , 5, 6, 7); // Just add the numbers here, you can use points too.
$widthUnit: "em"; // Add the unit here (rem|em|px|%)

@each $width in $widthAmounts {
	$i: index($widthAmounts, $width);
	.table thead th.is-#{$i} {
		width: #{$width}#{$widthUnit} !important;
	}
}
