<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="field file has-name">
            <label class="file-label">
              <input (change)="onFileSelected($event.target.files)" class="file-input" type="file" name="image" id="file" accept=".jpg, .jpeg, .png" multiple>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name" id="filename">{{ objectKeys(currentInput) }}</span>
            </label>
          </div>
        </div>
        <div class="level-item">
          <input (change)="onInputUrlChange()" [class.is-danger]="invalidUrl" [(ngModel)]="person" class="input" type="text" placeholder="URL de voiture">
        </div>
        <div class="level-item" *ngIf="invalidUrl">
          <p class="help is-danger">
            {{ invalidUrl }}
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <button (click)="drawBoxes()" class="button is-link"  [class.is-loading]="loadingDetect">Détection d'objets</button>
        </div>
        <div class="level-item">
          <button (click)="drawPrediction()" class="button is-primary" [class.is-loading]="loadingPredict">Classification Marque Modèle</button>
        </div>
        <div class="level-item">
          <button (click)="toggleModal()" class="button"> 🔓</button>
        </div>
      </div>
    </nav>

    <div class="modal" [ngClass]="{ 'is-active' : modalActive }">
      <div class="modal-background" (click)="toggleModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">🔒 Authentification</p>
          <button (click)="toggleModal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Token" [value]="token" (input)="token = $event.target.value">
            </p>
            <p class="control">
              <a class="button is-info" (click)="onClickMe()">
                Envoyer
              </a>
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button" [class.is-success]="valid">Status</button>
        </footer>
      </div>
    </div>

    <div *ngIf="currentInput">
    <div *ngFor="let key of objectKeys(currentInput); let img_ind = index" class="container">
      <div class="columns is-multiline">
        <div class="column">
          <canvas id="{{ 'canvas' + key }}"></canvas>
        </div>
        <div class="column is-4" *ngIf="probabilities && probabilities.length > 0">
          <div *ngIf="probabilities[img_ind].length === 0" class="notification">
            Pas de prédictions.
          </div>
          <div *ngFor="let probability of probabilities[img_ind]; let predNum = index" class="upspace">
            <div class="columns is-mobile" *ngFor="let prob of probability.prob; let i = index">
              <div class="column is-5">
                {{ probability.pred[i] }}
              </div>
              <div class="column is-5">
                <progress [ngClass]="colors[predNum]" class="progress" value="{{ probability.prob[i] * 100 }}" max="100"></progress>
              </div>
              <div class="column is-2">
                {{ probability.prob[i] * 100 | number : '1.2' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
