<section class="hero is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="">
            <img src="assets/logo-ia-flash.png" alt="Logo">
          </a>
          <a class="navbar-item">
            Tester notre API
          </a>
          <span class="navbar-burger burger" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()"  data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()">
          <div class="navbar-end">
            <a class="navbar-item" href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html" target="_blank">Découvrir le projet IA Flash</a>
            <a class="navbar-item" href="https://github.com/ia-flash" target="_blank">Code source</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">IA Flash</h1>
      <h2 class="subtitle">Détection de la marque et du modèle de véhicules</h2>

      <nav class="level">
        <div class="level-item">
        </div>
        <div class="level-item">
        </div>
        <div class="level-item">
          <a class="button is-rounded" href="https://github.com/ia-flash/matchvec">Code</a>
        </div>
        <div class="level-item" *ngIf="gpu">
          <a class="button is-rounded is-info" href="/matchvec/swagger">Swagger</a>
        </div>
        <div class="level-item">
          <a class="button is-rounded is-link" href="https://ia-flash.github.io/matchvec">Documentation technique</a>
        </div>
        <div class="level-item">
        </div>
        <div class="level-item">
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li [ngClass]="{'is-active': selectedTab === 'preview'}" (click)="selectedTab = 'preview'"><a>IA Flash</a></li>
          <li [ngClass]="{'is-active': selectedTab === 'sivnorm'}" (click)="selectedTab = 'sivnorm'"><a routerLink="/testapi/sivnorm">SivNorm</a></li>
          <li [ngClass]="{'is-active': selectedTab === 'video'}" (click)="selectedTab = 'video'"><a routerLink="/testapi/video">Video</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="field file has-name">
            <label class="file-label">
              <input (change)="onFileSelected($event.target.files)" class="file-input" type="file" name="image" id="file" accept=".jpg, .jpeg, .png" multiple>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choisir une image
                </span>
              </span>
              <span *ngIf="objectKeys(currentInput).length > 0" class="file-name" id="filename">{{ objectKeys(currentInput).length }} images</span>
            </label>
          </div>
        </div>
        <div class="level-item">
          <input (change)="onInputUrlChange()" [class.is-danger]="invalidUrl" [(ngModel)]="image_url" class="input" type="text" placeholder="URL de voiture">
        </div>
        <div class="level-item" *ngIf="invalidUrl">
          <p class="help is-danger">
            {{ invalidUrl }}
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <button (click)="drawDetection()" class="button is-info"  [class.is-loading]="loading">Détection d'objets</button>
        </div>
        <div class="level-item">
          <button (click)="drawPrediction()" class="button is-link" [class.is-loading]="loading">Classification Marque Modèle</button>
        </div>
        <div class="level-item" *ngIf="gpu">
          <button (click)="drawAnonymisation()" class="button is-primary" [class.is-loading]="loading">Anonymisation</button>
        </div>
      </div>
    </nav>
    <div *ngIf="progress">
      <div class="field has-addons">
        <p class="control is-expanded">
          <progress class="progress is-primary" [attr.value]="progress < 100 ? progress : null" max="100">{{ progress }}%</progress>
        </p>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-primary">
            {{ this.progress_message }}
          </a>
        </p>
        <p class="control" *ngIf="progress < 100">
          <a class="button is-light">
            {{ this.progress }}%
          </a>
        </p>
      </div>
      <br>
    </div>
    <div *ngIf="currentInput">
      <div *ngFor="let key of objectKeys(currentInput); let img_ind = index" class="container">
        <div class="columns is-multiline">
          <div class="column">
            <canvas id="{{ 'canvas' + key }}"></canvas>
          </div>
          <div class="column is-4">
            <div>
              <p class="title is-size-5">
                {{ currentInput[key].name }} 
              </p>
              <p *ngIf="currentInput[key].size" class="subtitle is-size-7">
                {{ currentInput[key].size | number : '1.2-2' }} Mb
              </p>
            </div>
            <div *ngIf="probabilities && probabilities.length > 0">
              <div *ngIf="probabilities[img_ind].length === 0" class="notification">
                Pas de prédictions.
              </div>
              <div *ngFor="let probability of probabilities[img_ind]; let predNum = index" class="upspace">
                  <table class="table is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th class="is-4">Marque/Modele</th>
                        <th class="is-7"></th>
                        <th class="is-1">%</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prob of probability.prob; let i = index"  [class.is-selected]="probability.prob[i] > 0.9">
                        <td>{{ probability.pred[i] }}</td>
                        <td>
                          <progress [ngClass]="colors[predNum]" class="progress" value="{{ probability.prob[i] * 100 }}" max="100"></progress>
                        </td>
                        <td>
                          {{ probability.prob[i] * 100 | number : '1.0-1' }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="title">Instructions</h3>
    <div class="content">
      <ol type="1">
        <li>Sélectionner une image ou plusieurs images: </li>
        <ol type="2">
          <li>Utiliser le bouton "Choisir un fichier" pour prendre des images sur l'ordinateur</li>
          <li>Utiliser la case "Url de voiture" pour écrire l'URL d'une image sur internet</li>
        </ol>
        <li>Sélectionner le bouton "Détection d'objets" pour détecter le type d'objet sur l'image</li>
        <li>Sélectionner le bouton "Classification Marque Modèle" pour détecter la marque et modèle des véhicules dans l'image</li>
        <li *ngIf="gpu">Sélectionner le bouton "Anonymisation" pour flouter les visages et le numéro de la plaque d'immatriculation de la photo</li>
      </ol>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
          <ul>
            <li><a routerLink="/">Presentation</a></li>
            <li><a routerLink="/testapi/matchvec">IAFlash</a></li>
            <li><a routerLink="/testapi/sivnorm">SivNorm</a></li>
          </ul>
        </nav>
      </div>
      <div class="level-item has-text-centered">
        <img src="assets/logo_administration.png" alt="logo ministere de l'intérieur, ANTAI et DNUM" alt="logo ministere de l'intérieur" width="300px" height="150px">
      </div>
    </nav>
  </div>
</footer>
